<div class="container">

  <form action="" class="example-form" [formGroup]="form">
    <mat-form-field class="form-field">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title"/>

    </mat-form-field>
    <quill-editor [styles]="{height: '400px'}" formControlName="content"></quill-editor>
    <!--    <p-editor [(ngModel)]="content" [style]="{'height':'400px'}" formControlName="content"></p-editor>-->

    <mat-form-field class="form-field">
      <mat-label>Type</mat-label>
      <!--      <input matInput type="text" />-->
      <mat-select formControlName="type">
        <mat-option [value]="type" *ngFor="let type of typeOptions">{{type}}</mat-option>
      </mat-select>


    </mat-form-field>



    <div class="flex-row flex-wrap align-items-start">
      <button mat-flat-button color="warn" class="m-1" *ngFor="let tag of currentTag">{{tag}}</button>
      <mat-form-field class="flex-grow-1">
        <input type="text"
               placeholder="Tag"
               aria-label="Number"
               #tagInput
               matInput
               (input)="onInputTag($event)"
               (keypress)="tagKeyPress($event)"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of tagOptions$ |async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <!--   <button mat-flat-button color="warn" class="m-1">Warn</button>
         <button mat-flat-button color="warn">Warn</button>
         <button mat-flat-button color="warn">Warn</button>
         <button mat-flat-button color="warn">Warn</button>-->
    </div>

    <img [src]="pictureBase64" class="preview-image" *ngIf="picture">
    <div class="form-field">
      <input #pictureInput type="file" accept="image/*" (change)="pictureSelect($event)" style="display: none"/>
      <button type="button" mat-raised-button color="primary" (click)="pictureInput.click()">
        Picture
      </button>
    </div>

    <div class="my-1">
      <mat-checkbox class="ml-1" formControlName="recommend">recommend</mat-checkbox>
      <mat-checkbox class="ml-1" formControlName="from_other_people">from other people</mat-checkbox>
      <mat-checkbox class="ml-1" formControlName="like">like</mat-checkbox>
      <mat-checkbox class="ml-1" formControlName="commentable">commentable</mat-checkbox>
    </div>

  </form>

  <button class="mt-1 mr-1" mat-raised-button color="primary" (click)="save()">Save</button>
  <button class="mt-1" mat-raised-button color="primary" (click)="post()">Post</button>

</div>

