<div class="container">
  <h1 style="display: flex;justify-content: center">Blog management System</h1>


  <div style="display: flex;align-items: center;flex-direction: column">
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="loginClick()">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text"  formControlName="name">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
    </form>



  </div>


</div>


