@import "~@angular/material/theming";
@import '/src/app/variables';
.my-primary-text {
  color: mat-color($primaryPalette);
}

.my-accent-text {
  color: mat-color($accentPalette);
}

.my-warn-text {
  color: mat-color($warnPalette);
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

