<div class="container">
  <form class="example-form">
    <mat-form-field class="form-field">
      <mat-label>Name</mat-label>
      <input matInput type="text"/>

    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email"/>

    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Phone</mat-label>
      <input matInput type="number"/>

    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>About me</mat-label>
      <textarea matInput></textarea>

    </mat-form-field>

  </form>

  <img [src]="picture" class="preview-image" *ngIf="picture">
  <div class="form-field">
    <input #pictureInput type="file" accept="image/*" (change)="pictureSelect($event)" style="display: none"/>
    <button type="button" mat-raised-button color="primary" (click)="pictureInput.click()">
      Picture
    </button>
  </div>

  <img [src]="icon" class="preview-image mt-2" *ngIf="icon">
  <br>
  <input #iconInput type="file" accept="image/*" (change)="iconSelect($event)" style="display: none"/>


  <button type="button" mat-raised-button color="primary" (click)="iconInput.click()" class="mt-2">
    Icon
  </button>


  <div class="d-flex flex-row-reverse">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</div>
