<div class="container">

  <form class="example-form" [formGroup]="blogSearchForm">
    <mat-form-field class="mr-1">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title"/>

    </mat-form-field>

    <mat-form-field>
      <mat-label>Type</mat-label>
      <!--      <input matInput type="text" />-->
      <mat-select formControlName="type">
        <mat-option [value]="type" *ngFor="let type of typeOptions">{{type}}</mat-option>
      </mat-select>

    </mat-form-field>


    <button class="ml-1" mat-raised-button color="primary" (click)="blogSearch()">Search
    </button>
  </form>
  <div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="blogs">


      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title</th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
      <ng-container matColumnDef="recommended">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Recommended</th>
        <td mat-cell *matCellDef="let element"> {{element.recommended}} </td>
      </ng-container>
      <ng-container matColumnDef="published">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Published</th>
        <td mat-cell *matCellDef="let element"> {{element.published}} </td>
      </ng-container>
      <ng-container matColumnDef="updateTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> UpdateTime</th>
        <td mat-cell *matCellDef="let element"> {{element.updateTime | date:'medium'}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </div>

</div>
